html, body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 6rem
}


section {
    min-height: 100svh;
    position: relative;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 {
    background-color: rgb(125, 193, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-1 h1 {
    font-size: 6rem;
    position: absolute;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.section-1 img {
    width: 400px;
    position: absolute;
}

.section-1 .final {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.section-1 .final button {
    padding: 20px 30px;
    box-shadow: none;
    border: 1px solid black;
    background-color: white;
    font-size: 22px;
    border-radius: 6px;
    cursor: pointer;
}

.section-2 {
    background-color: seagreen;
}
.section-2 h1 {
   color: rgb(15, 15, 15);
   transform: translateX(-53vw);
}

.section-2 .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 0vh;
    width: 0vh;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0);
}

.section-3 {
    background-color: azure;
}